@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

body, html {
  margin: 0;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #025830;
    text-transform: uppercase;
}

.uppercase-text {
    text-transform: uppercase;
}

/*--------------------------------------------Navbar*/

.menu-collapse-align {
  margin-right: 5px;
  text-align: left;
}

#searchRecipe {
    display: inline-block;
    padding-left: 20%;
    position: center;
}

#searchRecipe > input {
    width: 200px;    
}

nav {
    font-family: 'Oswald', sans-serif;
}

/*--------------------------------------------Footer*/

footer {
    color: #fafafa;
    background-color: #343a40;
    text-align: center;
    padding-top: 15px;
    max-height: 60px;
}

/*--------------------------------------------Home Page*/

#social-media {
    text-align: center;
    background-color: #e5e8ea;
    min-height: 200px;
    padding: 30px 0;
}

#social-media hr {
    width: 50%;
    height: 3px;
    border: 0;
    background-color: #ec6a04;
}

#social-media p {
    font-size: 25px;
    padding: 20px 0;
    font-weight: bold;
}

.social-media-icons {
    font-size: 60px;
    padding-top: 13px;
    display: inline-block;
    text-align: center;
}

.social-media-icons li a i {
    color: #343a40;
}

.social-media-icons li a i:hover,
.social-media-icons li a i:focus {
    color: #ff9901;
}