{% extends 'base.html' %} {% block content %}

<!-- Edit your Recipe section -->
<section  id="add-your-recipe" class="container-fluid">
    <div class="row">
        <div class="col-12 pl-0 pr-0">
            <img src="/static/images/add_recipe_page.jpg" alt="Add your recipe" class="d-block w-100"/>
        </div>
        <div class="col-12">
            <h1>Edit Your Recipe</h1>
        </div>
    </div>

    <!-- Edit a recipe form -->
    <form action="{{url_for('edit_recipe', recipe_id=recipe._id)}}" method="POST" id="update_recipe" name="update_recipe" class="container shadow">
        <!-- Recipe title -->
        <div class="form-group">
            <label for="recipe_title">Recipe title <span class="required-symbol">*</span></label>
            <input type="text" class="form-control" id="recipe_title" aria-describedby="recipe title"
            name="recipe_title" maxlength="80"  value="{{ recipe.recipe_title }}" autocomplete="off" required/>
            <small class="form-text text-muted">e.g. Strawberry Smoothie. Max 80 characters</small>
        </div>
        <!-- Select Category from the DB -->
        <div class="form-group">
            <label for="category_name">Category</label>
            <select name="category_name" id="category_name" class="form-control" required >
                <option selected disabled>Select Category
                {% for category in categories %}
                    {% if category.category_name == recipe.category_name %}
                    <option value="{{category.category_name}}" selected>{{category.category_name}}</option>
                    {% else %}
                    <option value="{{category.category_name}}">{{category.category_name}}</option>
                    {%endif%}
                {% endfor %}
                </option>
            </select>   
        </div>
        <!-- Recipe Description -->
        <div class="form-group">
            <label for="description">Description <span class="required-symbol">*</span></label>
            <input type="text" class="form-control" id="description" name="description"
                aria-describedby="recipe description" maxlength="300" value="{{ recipe.description }}" autocomplete="off" required>
            <small class="form-text text-muted">Add the recipe description here. Max 300 characters</small>
        </div>
        <!-- Recipe URL -->
        <div class="form-group">
            <label for="image_url">Image Url <span class="required-symbol">*</span></label>
            <input type="text" class="form-control" name="image_url" id="image_url"
                aria-describedby="recipe image" value="{{ recipe.image_url }}" autocomplete="off" required >
            <small type="url" class="form-text text-muted">Picture of the dish. Use a valid URL</small>
        </div>
        <!-- Total servings for each Recipe -->
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="servings">Servings <span class="required-symbol">*</span></label>
                    <input type="number" class="form-control" id="servings" name="servings"
                        aria-describedby="Total servings" min="1" max="99" value="{{ recipe.servings }}" autocomplete="off" required>
                    <small class="form-text text-muted">e.g. 4</small>
                </div>
            </div>
            <!-- Total calories for each Recipe -->
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="calories">Calories <span class="required-symbol">*</span></label>
                    <input type="number" class="form-control" id="calories" name="calories"
                        aria-describedby="Total calories" min="1" max="2000" value="{{ recipe.calories }}" autocomplete="off" required>
                    <small class="form-text text-muted">e.g. 250</small>
                </div>
            </div>
            <!-- Preparation Time -->
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="prep_time">Prep Time <span class="required-symbol">*</span></label>
                    <input type="text" class="form-control" id="prep_time" name="prep_time"
                        aria-describedby="Preparation time" maxlength="20" value="{{ recipe.prep_time }}" autocomplete="off" required>
                    <small class="form-text text-muted">e.g. 4 minutes</small>
                </div>
            </div>
            <!-- Cooking Time -->
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="cook_time">Cook Time <span class="required-symbol">*</span></label>
                    <input type="text" class="form-control" id="cook_time" name="cook_time"
                        aria-describedby="Cooking time" maxlength="20" value="{{ recipe.cook_time }}" autocomplete="off" required>
                    <small class="form-text text-muted">e.g. 1 hour 15 minutes</small>
                </div>
            </div>
        </div>
        <!-- Ingredients for each Recipe -->
        
        <div class="form-group">
            <div class="row">
                <div class="col-12">
                    <label for="ingredients">Ingredients <span class="required-symbol">*</span></label>
                    <textarea class="form-control" id="ingredients" name="ingredients" rows="4" maxlength="3000" required>{% for ingredient in recipe.ingredients %}{{- ingredient + "\n" -}}{% endfor %}</textarea>
                    <small class="form-text text-muted">Each step in it's own line. No empty lines.</small>
                </div>
            </div>
        </div>
        <!-- Instructions for each Recipe -->
        <div class="form-group">
            <div class="row">
                <div class="col-12">
                    <label for="instructions">Instructions <span class="required-symbol">*</span></label>
                    <textarea class="form-control" id="instructions" name="instructions" rows="4" maxlength="3000" required>{% for instruction in recipe.instructions %}{{- instruction + "\n" -}}{%endfor%}
                    </textarea>
                    <small class="form-text text-muted">Each step in it's own line. No empty lines.</small>
                </div>
            </div>
        </div>
        <!-- Tips for each Recipe -->
        <div class="form-group">
            <div class="row">
                <div class="col-12">
                    <label for="tips">Tips <span class="required-symbol">*</span></label>
                    <textarea class="form-control" id="tips" name="tips" rows="3" maxlength="350" required>{{ recipe.tips }}</textarea>
                    <small class="form-text text-muted">Each step in it's own line. No empty lines.</small>
                </div>
            </div>
        </div>
        <!-- Error messages from backend validation  -->
        {% if error_list|length > 1 %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">There are some errors in your submission</h4>
            {% for error in error_list %}
            <p>{{ error }}</p>
            <hr>
            {% endfor %}
          </div>
          {% endif %}
        <!-- Submit Recipe Button  -->
        <div class="form-row">
            <div class="col-12">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
    <!-- End form -->
</section>
<!-- End Section -->

{% endblock %}