{% extends 'base.html' %} {% block content %}

<section id="each-recipe-container" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>{{ recipe.recipe_title }}</h2>
            <!-- Recipe Image -->
            <img src="{{ recipe.image_url }}" alt="Recipe image"/>
            <h3>{{ recipe.description }}</h3>
        </div>
        <!-- Recipe information -->
        <div class="col-3 recipe-information">
            <h6>Servings:</h6>
            <p>{{ recipe.servings }}</p>
        </div>
        <div class="col-3 recipe-information">
            <h6>Calories:</h6>
            <p>{{ recipe.calories }}</p>
        </div>
        <div class="col-3 recipe-information">
            <h6>Prep Time :</h6>
            <p>{{ recipe.prep_time }}</p>
        </div>
        <div class="col-3 recipe-information">
            <h6>Cook time:</h6>
            <p>{{ recipe.cook_time }}</p>
        </div>
        <!-- Ingredients -->
        <div id="ingredients-container" class="col-md-4 col-xs-12">
            <h4>Ingredients:</h4>
            <ul class="fa-ul">
            {% for ingredient in recipe.ingredients %}
            <!-- To avoid empty lines into the ingredients -->
                {% if ingredient | truncate | length > 1 %}
                <li><span class="fa-li"><i class="fas fa-pepper-hot"></i></span>{{ ingredient }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        <!-- Instructions -->
        <div id="instructions-container" class="col-md-8 col-xs-12">
            <h4>Instructions:</h4>
            <ul class="fa-ul">
            {% for instruction in recipe.instructions %}
                <!-- To avoid empty lines into the instructions -->
                {% if instruction | truncate | length > 1 %}
                    <li><span class="fa-li"><i class="fas fa-leaf"></i></span>{{ instruction }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        <!-- Tips -->
        <div id="tips-container"class="col-12">
            <h4>Tips:</h4>
            <p>{{ recipe.tips }}</p>
        </div>
        <div id="user-author" class="col-12">
            <p><strong>Created by: </strong>{{ recipe.created_by }}</p>
        </div>
        {% if session.user|lower == recipe.created_by|lower %}
        <div id="recipe-buttons" class="col-12">
            <a role="button" href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn btn-success">Edit <i class="fas fa-edit"></i></a>
            <a role="button" href="{{ url_for('add_recipes') }}" class="btn btn-info">Add <i class="fas fa-plus-circle"></i></a>
            <a type="button" href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn btn-danger">Delete <i class="fas fa-minus-circle"></i></a>
        </div>
        {% endif %}

    </div>
</section>

{% endblock %}